doctype html
html
    head
        title HyperIcon
        link(rel='stylesheet',type='text/css',href='/css/hypericon.css')
        link(href='//fonts.googleapis.com/css?family=Montserrat',rel='stylesheet',type='text/css')
        link(rel='stylesheet',href='/css/nprogress.css')
        
    body
        header
            h1 HyperIcon
            h2 10 Minute Image Service

        p More to come...

        #dropzone

        #drop-overlay
            #drop-msg Drop your files anywhere!

        script(src='//code.jquery.com/jquery-2.1.1.min.js')
        script(src='/js/nprogress.js')
        script(src='/js/hypericon.js')