doctype html
html
	head
		title HyperIcon
		link(rel='stylesheet',type='text/css',href='/css/hypericon.css')
		link(href='http://fonts.googleapis.com/css?family=Montserrat',rel='stylesheet',type='text/css')
	body
		header
			h1 HyperIcon
			h2 10 Minute Image Service
		
		#dropzone!=content
		
		#drop-overlay
			#drop-msg Drop your files anywhere!