doctype html
html
    head
        title HyperDrive
        link(rel='stylesheet',type='text/css',href='/css/hyperDrive.css')
        link(href='//fonts.googleapis.com/css?family=Montserrat',rel='stylesheet',type='text/css')
        link(rel='stylesheet',href='/css/nprogress.css')
        
    body
        header
            h1 HyperDrive
            h2 10 Minute Image Service

        block content

        script(src='//code.jquery.com/jquery-1.11.1.min.js')
        script(src='/js/nprogress.js')
        script(src='/js/hyperDrive.js')