doctype html
html
    head
        title HyperDrive
        link(rel='stylesheet',type='text/css',href='/hyperdrive.css')
        link(href='//fonts.googleapis.com/css?family=Montserrat',rel='stylesheet',type='text/css')
        
    body
        header
            a(href='/')
                h1 HyperDrive
                h2 10 Minute Image Service

        block content
        
        footer
            ul
                li © 
                    a(href='https://github.com/StevenThuriot/HyperDrive' target='_blank') HyperDrive
                li 
                    a(href='/Terms') Terms
                li 
                    a(href='/About') About

        script(src='//code.jquery.com/jquery-1.11.1.min.js')
        script(src='/hyperdrive.js')
        block scripts
            