body {
    font-family: 'Montserrat', sans-serif;
    color: #2c2f31;
}
header {
    letter-spacing: -1px;
    margin-bottom: 3em;
    color: black;
    background: -webkit-linear-gradient(transparent, transparent), url(/images/galaxy.jpg) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    display: inline-block;
}
header:before {
    position: fixed;
    z-index: 1050;
    top: 0;
    right: 0;
    width: 100%;
    height: 5px;
    margin: 0 0 0 0;
    background: url(/images/galaxy.jpg) no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: "";
}
header h1 {
    margin: 10px 0 10px 0;
    font-size: 3rem;
}
header h1:before {
    float: left;
    margin: -0.2rem 0.5rem 2px 2px;
    width: 5rem;
    height: 5rem;
    background: url(/images/hypericon.png) no-repeat 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    content: "";
}
header h2 {
    margin: -0.6em 0 0 4.15em;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
}
#drop-overlay,
#drop-msg {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#drop-msg {
    background-color: #D8DEE3;
    border: 1px solid #0072BC;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 50px #0072BC;
    box-shadow: 0 0 50px #0072BC;
    z-index: 100;
    font-size: 1.2rem;
    position: absolute;
    max-width: 350px;
    max-height: 350px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#drop-msg:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(/images/hypericon.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#drop-overlay {
    opacity: 0;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    pointer-events: none;
    position: fixed;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(216, 222, 227, 0.30000000000000004)), to(#3F4447));
    background-image: -webkit-radial-gradient(circle, rgba(216, 222, 227, 0.30000000000000004), #3F4447);
    background-image: -moz-radial-gradient(circle, rgba(216, 222, 227, 0.30000000000000004), #3F4447);
    background-image: radial-gradient(circle, rgba(216, 222, 227, 0.30000000000000004), #3F4447);
    background-repeat: no-repeat;
}
#drop-overlay.state-over {
    opacity: 0.95;
}
#dropzone {
    text-align: center;
}
.hyperIcon {
    height: 200px;
    width: 200px;
    float: left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    margin: 5px;
    transition: all 1s ease;
    cursor: pointer;
}
.hyperIcon p {
    font: 26px Monaco, monospace;
    width: 20px;
    top: -26px;
    height: 100px;
    left: 90px;
    position: absolute;
    transform-origin: bottom center;
    color: #f8f8ff;
    /*
    color: #fff;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    */
}
.hyperView {
    border-radius: 3px;
    overflow: hidden;
    left: auto;
    right: auto;
    display: block;
    margin: 0px auto;
    max-width: 100%;
    box-shadow: 0 0 8px #0e0e0e;
}
@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
    75% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }
}
@keyframes pulse {
    25% {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
    }
    75% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
    }
}
.pulse {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}